{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}
    <div class="bloque1"><p id="titulo">CALISTENIA</p>
        <p id="subtitulo">COMIENZA TU CAMBIO</p>
        <p id="texto">Los planes de entrenamiento online serán diseñados de manera personalizada
            para cada uno de los que nos pidáis asesoramiento on-line a través de esta web,
            siempre con el respaldo de todosnuestros expertos.</p>
    {% if app.user is null %}
        <p><a  class="myButton" href="{{ path('app_register') }}">Registrate Ya!</a></p></div>
    {% else %}
        <p><a class="myButton" href="{{ path('app_level') }}">Ver Mis Rutinas</a></p></div>

    {% endif %}    <div class="bloque2">
        <img id="imageninicio" src="Imagenes/Asesoramiento-Inicio.jpg" alt="tio" />
    </div>
{% endblock %}